@inherits LayoutComponentBase
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Get</b>Ready</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Faça login para iniciar sua sessão!</p>
            @Body
        </div>
        <!-- /.login-card-body -->
    </div>
</div>