
<aside class="main-sidebar sidebar-dark-blue">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="background: #367fa9;height: 42pt;">
        <span class="brand-text font-weight-light"><h4 style="text-align: center;color: white;"><b>Get</b>Ready</h4></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">User virá aqui</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">

                        <!--Insira as pages aqui-->

                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

