@inherits LayoutComponentBase
<BlazoredModal />
<div class="wrapper">
    <NavMenu />
</div>

    <!-- /.navbar -->
    <SideBar></SideBar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content">
            @Body
        </div>
        <!-- /.content -->
    </div>
